.page {
    padding: 20px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Hintergrundfarbe */
}

.contact-title {
    color: white;
    text-align: center;
    font-size: 38px;
    margin-bottom: 20px;
}

.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px; /* Abstand zwischen den Sektionen */
}

.profile-section {
    width: 40%;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

.profile-section-container-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 28px;
}
.profile-section-container-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    line-height: 28px;
}
.profile-picture {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-text {
    font-size: 20px;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.profile-text-2 {
    font-size: 30px;
    color: white;
    margin-top: -2px;
    border-radius: 10px;
    rotate: -3deg;
}


.social-icon {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    color: #fb841e;
    transition: color 0.3s; /* Glatter Farbwechsel */
}

.social-icon:hover {
    color: #feb922; /* Gelbe Farbe beim Hover */
}

.contact-options {
    width: 50%;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.contact-heading {
    color: #fb841e;
    font-size: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
  
}

.contact-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 14px;
}

.line {
    width: 5px;
    height: 20px;
    background-color: #feb922;
    border-radius: 10px;
    margin-right: 10px;
    display: none;
}

.contact-text {
    font-size: 18px;
    color: white;
}

.contact-item {
    margin-bottom: 20px;
    font-size: 1rem;
    color: white;
}

.contact-icon {
    font-size: 24px;
    color: #fb841e; /* Orange Farbe */
    margin-right: 10px; /* Abstand zwischen Icon und Text */
    transition: color 0.3s; /* Glatter Farbwechsel */
}

.contact-icon:hover {
    color: #feb922; /* Gelbe Farbe beim Hover */
}
@media (max-width: 1224px) {
    .profile-picture {
        width: 180px;
        height: 180px;
    }

    .profile-text {
        font-size: 18px;
    }

    .profile-text-2 {
        font-size: 24px;
    }

    .contact-heading {
        font-size: 26px;
    }

    .contact-text {
        font-size: 16px;
    }
}

@media (max-width: 930px) {

    .contact-section {
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;  
    }
    .profile-section-container-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        line-height:normal;
    }
    .profile-section-container-desktop {
        display: none;
    }
       
    .profile-section{
        width: 95%;
    }
    .profile-picture {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin-bottom: 0px;
        margin-right: 30px;
    }
    .profile-text {
        font-size: 20px;
        color: white;
        padding: 0px;
        border-radius: 10px;
        width: 90%;
    }
    
    .profile-text-2 {
        font-size: 38px;
        color: white;
        margin-top: 70px;
        border-radius: 10px;
        rotate: -3deg;
        text-align: center;
    } 
    .contact-text {
        font-size: 25px;
        color: white;
    }
    .contact-icon {
        font-size: 40px;
        color: #fb841e; /* Orange Farbe */
        margin-right: 10px; /* Abstand zwischen Icon und Text */
        transition: color 0.3s; /* Glatter Farbwechsel */
    }
    .contact-options {
        width: 100%;
    }
    
}


